{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Veritas</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <!-- style css -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <!-- Responsive-->
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
  <!-- fevicon -->
  <!-- <link rel="icon" href="{% static 'assets/images/fevicon.png' %}" type="image/gif" /> -->
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.min.css' %}">
  <!-- Team card css -->
  <link rel="stylesheet" href="{% static 'assets/css/card.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">


  <!-- Jquery JS -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/sweetalert2.all.min.js' %}"></script>
</head>

<body>
  <!-- loader  -->
  <!-- <div class="loader_bg">
    <div class="loader"><img src="{% static 'assets/images/loading.gif' %}" alt="#" /></div>
  </div> -->
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
            <div class="full">
              <div class="center-desk">
                <div class="logo"> <a href="/"><img src="{% static 'assets/images/logo.png' %}" alt="#"></a> </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <div class="menu-area">
              <div class="limit-box">
                <nav class="main-menu">
                  <ul class="menu-area-main">
                    <li class="active"> <a href="/">Home</a> </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/team">OUR TEAM</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/reports">REPORTS</a>
                    </li>
                    <li class="mean-last"> <a disabled href="#"><img src="{% static 'assets/images/top-icon.png' %}" alt="#" /></a> </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header inner -->
  </header>
  <!-- end header -->

  {% include 'main/includes/messages.html' %}

  {% block content %}

  {% endblock %}


  <p class="fl_right">Thanks to <a href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>

  <!-- Javascript files-->

  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/plugin.js' %}"></script>

  <!-- sidebar -->
  <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <!-- <script src="{% static 'assets/js/custom.js' %}"></script> -->
</body>


</html>
