{% extends 'main/header.html' %}

{% load static %}

{% block content %}

<!-- <div class="container p-4 my-5 h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12">
      <div>
        <img src="{% static 'assets/images/fake-fact.jpg' %}" alt="Fact Check homepage">
      </div>
      <div class="col-12">


      </div>
    </div>
  </div>
</div> -->

<!-- end header -->
<section class="slider_section h-100 p-0">
  <div id="myCarousel" class="carousel slide banner-main h-100" data-ride="carousel">
    <div class="carousel-inner h-100">
      <img class="first-slide w-100 h-100" src="{% static 'assets/images/banner.jpg' %}" alt="First slide">
      <div class="container">
        <div class="carousel-caption relative">
          <h1>FAKE NEWS <br><strong class="cur">Detection</strong></h1>
          <span>YouTube wrapper website that would perform <br> fake news labelling and fact checking <br> on live-streamed
            political
            speeches</span>
          <div class="button_section">
            <a class="main_bt" href="/reports">REPORTS</a>
            <a class="main_bt" href="/team">OUR TEAM</a>
            <a class="main_bt" href="{% static 'assets/demo.mp4' %}">VIEW DEMO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
