{% extends 'main/header.html' %}

{% load static %}

{% block content %}

<section class="slider_section h-100 p-0" style="background: url({% static 'assets/images/banner.jpg' %});">
  <div class="container py-5 h-100 mx-5">
    <div class="row align-items-center h-100 mx-5">
      <div class="col-6 mx-5">
        <div>
          <a href="{% static 'assets/reports/specs.pdf' %}" target="_blank" class="main_bt m-2 w-100 text-center">Project Specifications</a>
        </div>
        <div>
          <a href="{% static 'assets/reports/analysis.pdf' %}" target="_blank" class="main_bt m-2 w-100 text-center">Project Analysis</a>
        </div>
        <div>
          <a href="{% static 'assets/reports/hld.pdf' %}" target="_blank" class="main_bt m-2 w-100 text-center">Project High Level Design</a>
        </div>
        <div>
          <a href="{% static 'assets/reports/lld.pdf' %}" target="_blank" class="main_bt m-2 w-100 text-center">Project Low Level Design</a>
        </div>
        <div>
          <a href="{% static 'assets/reports/final.pdf' %}" target="_blank" class="main_bt m-2 w-100 text-center">Project Final Report</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
