{% extends 'main/header.html' %}

{% load static %}

{% block content %}

<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
      <!-- Hanzallah -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class="img-fluid" src="{% static 'assets/images/hanzallah.png' %}" alt="card image"></p>
                  <h3 class="card-title my-3">Hanzallah Burney</h3>
                  <h4 class="card-text my-3">He is programmed to work 24/7</h4>
                  <a href="https://github.com/Hanzallah" class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Abdul Hamid -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{% static 'assets/images/hamid.jpeg' %}" alt="card image"></p>
                  <h3 class="card-title my-3">Abdul Hamid Dabboussi</h3>
                  <h4 class="card-text my-3">He used to be the long hair guy</h4>
                  <a href="https://github.com/AbdulHamidDabboussi" class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Fakhouri -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{% static 'assets/images/fakhouri.jpeg' %}" alt="card image"></p>
                  <h3 class="card-title my-3">Mohamad Fakhouri</h3>
                  <h4 class="card-text my-3">He is cool but not as cool as his glasses</h4>
                  <a href="https://github.com/mohahf19" class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Warraich -->
      <div class="col-xs-12 col-sm-6 col-md-4 offset-2">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{% static 'assets/images/warraich.jpeg' %}" alt="card image"></p>
                  <h3 class="card-title my-3">Hassan Raza</h3>
                  <h4 class="card-text my-3">His mic OR camera never works</h4>
                  <a href="https://github.com/hassanrwarraich" class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- SAQ -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{% static 'assets/images/saq.jpeg' %}" alt="card image"></p>
                  <h3 class="card-title my-3">Sayed Abdullah Qutb</h3>
                  <h4 class="card-text my-3">Pronunce his last name if you can</h4>
                  <a href="https://github.com/abdullahqutb" class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

    </div>
  </div>
</section>
<!-- Team -->


{% endblock %}
